<div class="w-full flex-col">
  <div class="ml-5">
    <h2>Tutte le scapre</h2>
    <div class="flex gap-4 mt-5">
      <div class="flex-col w-[15%]">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ricerca tramite marca</label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [(ngModel)]="ricercaMarca">
      </div>
      <div class="flex-col w-[15%]">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ricerca tramite modello</label>
        <input
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [(ngModel)]="ricercaModello">
      </div>
      <div class="flex-col w-[15%] mt-7">
        <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none
        focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600
         dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                (click)="resetFiltri()">Reset filtri
        </button>
      </div>
    </div>
  </div>


  <div class="flex flex-wrap justify-center gap-10 mt-20">

    <ng-container *ngFor="let scarpa of scarpe">
      <ng-container *ngIf="scarpa.stato === 'DISPONIBILE' && (ricercaMarca === '' || scarpa.marca.toLowerCase().includes(ricercaMarca.toLowerCase()))
          && (ricercaModello === '' || scarpa.modello.toLowerCase().includes(ricercaModello.toLowerCase()))">
        <div
          class="w-64 h-50 p-6 flex-col text-center content-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ scarpa.marca | titlecase }}
            {{ scarpa.modello | titlecase }}</p>
          <div class="w-full flex justify-center">
            <ng-container *ngIf="scarpa.immagine">
              <img src="data:image/png;base64,{{scarpa.immagine}}" class="w-20"/>
            </ng-container>
          </div>
          <div class="flex gap-3 mt-2">
            <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none
        focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600
         dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    (click)="goToDettagliScarpa(scarpa.prodottoId)">Dettagli
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!scarpe.length">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nessuna scarpa disponibile</p>
    </ng-container>
  </div>

  <div class="cursor-pointer flex justify-center mt-10">
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      <a (click)="goToHomepage()" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Torna alla
        homepage</a>
    </p>
  </div>

  <ng-container *ngIf="errorMessage">
    <p style="color: red;">{{ errorMessage }}</p>
  </ng-container>

</div>
