
.total {
  background-image: url('src/assets/images/wallpaper.png'); /* Sostituisci con il percorso della tua immagine */
  background-size: cover; /* Fa in modo che l'immagine copra l'intera area della pagina */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  background-position: center center; /* Centra l'immagine sia orizzontalmente che verticalmente */
}

.btn-custom {
  background-color: #e3f45b; /* Verde */
  color: #444444;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  text-align: center;
  width: 100%;
  border: 5px solid white; /* Bordo bianco */
}

.btn-custom:hover {
  background-color: #cedf33; /* Verde più scuro */
}

.full-height {
  min-height: 100vh; /* Assicura che la sezione occupi almeno l'altezza della finestra */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('src/assets/images/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



  /* Riduci la larghezza dei filtri e centrali */
  .filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 600px; /* Imposta una larghezza massima per i filtri */
  }

  .filter-item {
    flex: 1;
    min-width: 180px; /* Larghezza minima più piccola per i filtri */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem; /* Riduce il margine tra gli elementi */
  }

  /* Input e select dei filtri */
  .filter-item input,
  .filter-item select {
    padding: 0.5rem; /* Riduce il padding interno */
    font-size: 0.75rem; /* Riduce la dimensione del font */
    border-width: 1px; /* Riduce lo spessore del bordo */
    border-radius: 0.25rem; /* Riduce il raggio del bordo */
    width: 100%; /* Assicura che l'input occupi tutta la larghezza del contenitore */
  }

  /* Pulsante di reset */
  .reset-button button {
    padding: 0.5rem 1rem; /* Riduce il padding del pulsante */
    font-size: 0.75rem; /* Riduce la dimensione del font */
    border-width: 4px; /* Riduce lo spessore del bordo */
    border-radius: 0.25rem; /* Riduce il raggio del bordo */
  }

  /* Stile aggiuntivo per una migliore visualizzazione */
  .filter-item label {
    font-size: 0.75rem; /* Riduce la dimensione del font per le etichette */
    margin-bottom: 0.25rem; /* Riduce il margine inferiore delle etichette */
  }

  /* Centra il link in fondo alla pagina */
  .footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: auto; /* Spinge il contenuto verso il fondo */
  }
