


<section class="custom-bg relative">
  <div class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-24">
    <img src="assets/images/logo.png" class="w-full max-w-lg h-auto object-contain" alt="Image above login form">
  </div>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 relative z-10">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="bg-[#f8e49c] p-6 space-y-4 md:space-y-6 sm:p-8 bg-brown border border-brown-600 border-4 rounded-lg shadow">
        <h1 class="text-xl font-extrabold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Login
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input type="text" name="username" id="username"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" [(ngModel)]="username">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required="" [(ngModel)]="password">
          </div>
          <button type="submit" (click)="login()"
          class="btn-custom">Accedi</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Non hai un account? <a (click)="goToRegister()"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500">Registrati</a>
          </p>
        </form>
      </div>
    </div>
    <ng-container *ngIf="errorMessage">
      <p style="color: red;">{{errorMessage}}</p>
    </ng-container>
  </div>
</section>
