.full-height {
  min-height: 100vh; /* Assicura che la sezione occupi almeno l'altezza della finestra */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('src/assets/images/wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content-wrapper {
  margin-top: 230px; /* Aumenta questo valore per abbassare i form */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra orizzontalmente i form */
  gap: 150px; /* Aumenta questo valore per più spazio tra i form */
  flex: 1; /* Assicura che il contenuto occupi il resto dello spazio senza affondare */
}


.btn-custom-button {
  background-color: #e3f45b; /* Verde */
  color: #444444;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  text-align: center;
  width: 100%;
  border: 5px solid white; /* Bordo bianco */
}

.btn-custom {
  background-color: #e3f45b; /* Verde */
  color: #444444;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  text-align: center;
  width: 100%;
  border: 2px solid #757575; /* Bordo bianco */
}

.btn-custom:hover {
  background-color: #cedf33; /* Verde più scuro */
}

.custom-form {
  width: 70%; /* Aumenta la larghezza dei form */
  max-width: 300px; /* Limita la larghezza massima */
  height: 200px; /* Imposta un'altezza fissa per i form */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 7px solid #e3f45b; /* Aggiungi un bordo colorato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Distanza tra il titolo e il pulsante */
  align-items: center; /* Centra orizzontalmente il contenuto */
  text-align: center;
}
.custom-form h2 {
  margin-bottom: 30px; /* Aggiungi spazio sotto il titolo */
}

.custom-width {
  width: 180px; /* Imposta la larghezza desiderata */
}
